
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 30px;
}

header {
    background-color: #A2D7D2;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}

.text-area {
    width: 262px;
    height: 100px;
    font-size: 16px;
}

@keyframes rainbowButton {
    0% {background-color: red;}
    14.3% {background-color: orange;}
    28.6% {background-color: yellow;}
    42.9% {background-color: green;}
    57.2% {background-color: blue;}
    71.5% {background-color: indigo;}
    85.8% {background-color: violet;}
    100% {background-color: red;}
  }
  
  .rainbow-button {
    margin: 12px 0px 12px;
    background-color: red;
    animation-name: rainbowButton;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }